﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model SinemaRezervasyon.Models.Film

<div class="row">
    <div class="col-sm-12">
        <h1>@SinemaRezervasyon.Resources.lang.FilmEkle</h1>
        @using (Html.BeginForm("FilmEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Fotograf</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control"style="width:250px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.FilmAdi</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.FilmAdi, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Konusu</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Konu, new { @class = "form-control", style = "width:500px; height:150px;"})
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Yonetmen</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Yonetmen, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Kategori</label>
                            <div class="col-sm-10">
                                @*@Html.TextBoxFor(m => m.Tur.TurAd, new { @class = "form-control" })*@
                               @Html.DropDownListFor(m => m.TurID, ViewBag.Tur as SelectList, "Seçiniz", new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Suresi</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Sure, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.YasSiniri</label>
                            <div class="col-sm-10">
                              @Html.DropDownListFor(m => m.YasSinirID, ViewBag.YasSinir as SelectList, "Seçiniz", new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Ulke</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Ulke, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.CikisTarihi</label>
                            <div class="col-sm-10">
                               
                                @Html.TextBoxFor(m => m.VizyonTarihi, new { @class = "form-control", style = "width:250px;", InputType ="date" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.SalonAdi</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.SalonId, ViewBag.Salonlar as SelectList, "Seçiniz", new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="@SinemaRezervasyon.Resources.lang.Kaydet" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script>
    if (!Modernizr.touch || !Modernizr.inputtypes.date) {
        $('#VizyonTarihi')
            .attr('type', 'text')
            .datepicker({
                // Consistent format with the HTML5 picker
                dateFormat: 'yyyy-mm-dd'
            });
    }
</script>






