﻿@model SinemaRezervasyon.Controllers.AnaSayfaDTO
@{
    ViewBag.Title = "Film";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-1">
            <h4>@SinemaRezervasyon.Resources.lang.Filmler</h4>
            <a href="/Admin/FilmEkle" a style="background-color:#438A09" class="btn btn-success btn-md btn--warning btn--book btn-control--home"><i class="fa fa-plus">&nbsp;&nbsp;@SinemaRezervasyon.Resources.lang.Yeni @SinemaRezervasyon.Resources.lang.Film</i></a>

        </div>
        <header>&nbsp;</header>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.Fotograf</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.FilmAdi</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Konusu</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.Yonetmen</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Oyuncular</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.Kategori</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.Suresi</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.YasSiniri</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.Ulke</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.CikisTarihi</th>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.SalonAdi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.filmler)
                            {
                            <tr>

                                <td>
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)" />
                                </td>

                                <td>@item.FilmAdi</td>
                                <td>@item.Konu</td>
                                <td>@item.Yonetmen</td>
                                <td>@item.OyuncuAd</td>
                                <td>@Html.DisplayFor(modelItem => item.Tur.TurAd)</td>
                                <td>@item.Sure</td>
                                <td>@Html.DisplayFor(modelItem => item.YasSinir.YasSinirAd)</td>
                                <td>@item.Ulke</td>
                                <td>@String.Format("{0:dd MMMM yyyy}", item.VizyonTarihi)</td>
                                <td>@item.Salonlar.Adi</td>
                                <td><a href="/Admin/FilmDuzenle?FilmID=@item.FilmID" data-toggle='tooltip modal' data-source="/Admin/FilmDuzenle?FilmID=@item.FilmID" data-title='@SinemaRezervasyon.Resources.lang.Duzenle @SinemaRezervasyon.Resources.lang.Film' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>@SinemaRezervasyon.Resources.lang.Duzenle</a></td>
                                <td><a href="/Admin/FilmSil?FilmID=@item.FilmID" class='btn btn-xs btn-danger tooltips' title='Sil'>@SinemaRezervasyon.Resources.lang.Sil</a></td>
                            </tr>
                            }
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




