﻿@{
    ViewBag.Title = "Haberler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model List<SinemaRezervasyon.Models.Haberler>

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-1">
            <h4>@SinemaRezervasyon.Resources.lang.Haberler</h4>
            <a href="/Admin/HaberEkle" a style="background-color:#438A09" class="btn btn-success btn-md btn--warning btn--book btn-control--home"><i class="fa fa-plus">&nbsp;&nbsp;@SinemaRezervasyon.Resources.lang.Yeni @SinemaRezervasyon.Resources.lang.Haberler</i></a>

        </div>
        <header>&nbsp;</header>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">@SinemaRezervasyon.Resources.lang.Fotograf</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Baslik</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Tarih</th>
                            <th class="col-md-7">@SinemaRezervasyon.Resources.lang.Yazi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Fotografi == null)
                                {
                                    <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                                }
                                else
                                {
                                    <td>
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)" />
                                    </td>
                                }
                                <td>@item.Baslik</td>
                                <td>@String.Format("{0:d}", @item.Tarih)</td>
                                <td>@String.Format("{0:d}", @item.Yazi)</td>
                                <td><a href='/Admin/HaberDuzenle?HaberID=@item.HaberID' data-toggle='tooltip modal' data-source="/Admin/HaberDuzenle?HaberID=@item.HaberID" data-title='Haber Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>@SinemaRezervasyon.Resources.lang.Duzenle</a></td>
                                <td><a href="/Admin/HaberSil?HaberID=@item.HaberID" class='btn btn-xs btn-danger tooltips' title='Sil'>@SinemaRezervasyon.Resources.lang.Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


