﻿@{
    Layout = null;
}

<link href="~/assets/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model SinemaRezervasyon.Models.Haberler

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("HaberDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.HaberID)
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            @if (Model.Fotografi == null)
                            {
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" />
                            }
                            else
                            {
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.Fotografi)" alt="" />
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Fotograf</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Baslik</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Tarih</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.Yazi</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Yazi, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="@SinemaRezervasyon.Resources.lang.Guncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
        $("#BaslangicTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
    });
</script>
