﻿@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model SinemaRezervasyon.Controllers.AnaSayfaDTO

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-1">
            <h4>@SinemaRezervasyon.Resources.lang.Iletisim</h4>
            <a href="/Admin/HaberEkle" a style="background-color:#438A09" class="btn btn-success btn-md btn--warning btn--book btn-control--home"><i class="fa fa-plus">&nbsp;&nbsp;@SinemaRezervasyon.Resources.lang.Yeni @SinemaRezervasyon.Resources.lang.Haberler</i></a>

        </div>
        <header>&nbsp;</header>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">@SinemaRezervasyon.Resources.lang.AdSoyad</th>
                            <th class="col-md-3">@SinemaRezervasyon.Resources.lang.Eposta</th>
                            <th class="col-md-4">@SinemaRezervasyon.Resources.lang.Mesaj</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Tarih</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.iletisim)
                        {
                            <tr>
                                <td>@item.AdSoyad</td>
                                <td>@item.ePosta</td>
                                <td>@item.Mesaj</td>
                                <td>@String.Format("{0:d}", @item.Tarih)</td>
                                <td><a href="/Admin/IletisimSil?IletisimID=@item.IletisimID" class='btn btn-xs btn-danger tooltips' title='Sil'>@SinemaRezervasyon.Resources.lang.Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


