﻿@model SinemaRezervasyon.Controllers.AnaSayfaDTO
@{
    ViewBag.Title = "@Sinemarezervasyon.Resources.lang.KullaniciOnay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-1">
            <h4>@SinemaRezervasyon.Resources.lang.YeniKullanici</h4>
        </div>
        <header>&nbsp;</header>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Adi</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Soyadi</th>
                            <th class="col-md-3">@SinemaRezervasyon.Resources.lang.Eposta</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.Telefon</th>
                            <th class="col-md-2">@SinemaRezervasyon.Resources.lang.KayitTarihi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.uye)
                        {
                            <tr>

                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.ePosta</td>
                                <td>@item.Telefon</td>
                                <td>@item.KayitTarihi</td>
                                <td><a href="/Admin/KullaniciOnayla?KullaniciID=@item.KullaniciID" class='btn btn-xs btn-danger tooltips' title='@SinemaRezervasyon.Resources.lang.Onayla'>@SinemaRezervasyon.Resources.lang.Onayla</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




