﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<SinemaRezervasyon.Models.Reklam>
<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-1">
            <h4>@SinemaRezervasyon.Resources.lang.Reklamlar</h4>
            <a href="/Admin/ReklamEkle" a style="background-color:#438A09" class="btn btn-success btn-md btn--warning btn--book btn-control--home"><i class="fa fa-plus">&nbsp;&nbsp;@SinemaRezervasyon.Resources.lang.Yeni @SinemaRezervasyon.Resources.lang.Reklamlar</i></a>

        </div>
        <header>&nbsp;</header>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-10">@SinemaRezervasyon.Resources.lang.Fotograf</th>
                            <th class="col-md-1"></th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Fotograf == null)
                                {
                                    <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                                }
                                else
                                {
                                    <td>
                                        <img style='width:50%; height:300px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotograf)" />
                                    </td>
                                }
                                <td><a href='/Admin/ReklamDuzenle?ReklamID=@item.ReklamID' data-toggle='tooltip modal' data-source="/Admin/ReklamDuzenle?ReklamID=@item.ReklamID" data-title='@SinemaRezervasyon.Resources.lang.Reklamlar @SinemaRezervasyon.Resources.lang.Duzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>@SinemaRezervasyon.Resources.lang.Duzenle</a></td>
                                <td><a href="/Admin/ReklamSil?ReklamID=@item.ReklamID" class='btn btn-xs btn-danger tooltips' title='Sil'>@SinemaRezervasyon.Resources.lang.Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
