﻿@model SinemaRezervasyon.Controllers.AnaSayfaDTO
@{
    ViewBag.Title = "Salon";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-1">
            <h4>@SinemaRezervasyon.Resources.lang.Salonlar</h4>
            <a href="/Admin/SalonEkle" a style="background-color:#438A09" class="btn btn-success btn-md btn--warning btn--book btn-control--home"><i class="fa fa-plus">&nbsp;&nbsp;@SinemaRezervasyon.Resources.lang.Yeni @SinemaRezervasyon.Resources.lang.Salon</i></a>

        </div>
        <header>&nbsp;</header>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-5">@SinemaRezervasyon.Resources.lang.SalonAdi</th>
                            <th class="col-md-5">@SinemaRezervasyon.Resources.lang.Film</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.filmler)
                        {
                            <tr>
                                <td>@item.Salonlar.Adi</td>
                                <td>@item.FilmAdi</td>
                                <td><a href="/Admin/SalonDuzenle?SalonId=@item.SalonId" data-toggle='tooltip modal' data-source="/Admin/SalonDuzenle?SalonId=@item.SalonId" data-title='@SinemaRezervasyon.Resources.lang.Duzenle @SinemaRezervasyon.Resources.lang.Film' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>@SinemaRezervasyon.Resources.lang.Duzenle</a></td>                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



