﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model SinemaRezervasyon.Models.Salonlar

<div class="col-sm-12">
    <h1>@SinemaRezervasyon.Resources.lang.Salonlar</h1>
    @using (Html.BeginForm("SalonEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">@SinemaRezervasyon.Resources.lang.SalonAdi</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Adi, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="btn-toolbar pull-right">
                        <input type="submit" value="@SinemaRezervasyon.Resources.lang.Kaydet" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

