﻿@model IEnumerable<SinemaRezervasyon.Models.SalonKoltuk>
@{
    ViewBag.Title = "Bilet";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<script src="~/Content/jquery-1.11.3.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //init_BookingTwo();

        $('#btnSatinAl').click(function () {

            var kod = $('.checked-place').html();
            $('#biletstring').val(kod);
            var kod2 = $('.checked-result').html();
            $('#biletfiyat').val(kod2);
            $('#biletform').submit();
            
            
        });

        
    });
</script>



    <div class="wrapper place-wrapper">

        <form id="biletform" action="/Home/BiletControl" method="post">
            <input type="hidden" value="@ViewBag.filmAdi" name="filmadi" id="filmadi" />
            @Html.Hidden("biletstring")
            @Html.Hidden("biletfiyat")
            
        </form>
        

        <!-- Main content -->
        <div class="place-form-area">
            <section class="container">
                <div class="order-container">
                    <div class="order">
                        <header>&nbsp;</header>
                        @*<img class="order__images" alt='' src="~/Content/images/tickets.png">*@
                        <p class="order__title">@SinemaRezervasyon.Resources.lang.BiletAl2 <br><span class="order__descript">@SinemaRezervasyon.Resources.lang.iyieglenceler</span></p>
                        <div class="order__control">
                            <a href="#" class="order__control-btn active">@SinemaRezervasyon.Resources.lang.SatinAl</a>
                            <a href="#" class="order__control-btn">@SinemaRezervasyon.Resources.lang.Rezervasyon</a>
                        </div>
                    </div>
                </div>
                <div class="order-step-area">
                    <div class="order-step first--step order-step--disable ">1. @SinemaRezervasyon.Resources.lang.Ne &amp; @SinemaRezervasyon.Resources.lang.Nerede &amp; @SinemaRezervasyon.Resources.lang.NeZaman</div>
                    <div class="order-step second--step">2. @SinemaRezervasyon.Resources.lang.BirKoltukSec</div>
                </div>

                <div class="choose-sits">
                    <div class="choose-sits__info choose-sits__info--first">
                        <ul>
                            <li class="sits-price marker--none"><strong>Price</strong></li>
                            <li class="sits-price sits-price--cheap">$10</li>
                            <li class="sits-price sits-price--middle">$20</li>
                            <li class="sits-price sits-price--expensive">$30</li>
                        </ul>
                    </div>

                    <div class="choose-sits__info">
                        <ul>
                            <li class="sits-state sits-state--not">@SinemaRezervasyon.Resources.lang.Dolu</li>
                            <li class="sits-state sits-state--your">@SinemaRezervasyon.Resources.lang.Seciminiz</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                        <div class="sits-area hidden-xs">
                            <div class="sits-anchor">screen</div>

                            <div class="sits">
                                <aside class="sits__line">
                                    <span class="sits__indecator">A</span>
                                    <span class="sits__indecator">B</span>
                                    <span class="sits__indecator">C</span>
                                    <span class="sits__indecator">D</span>
                                    <span class="sits__indecator">E</span>
                                    <span class="sits__indecator">F</span>
                                    <span class="sits__indecator">G</span>
                                    <span class="sits__indecator">I</span>
                                    <span class="sits__indecator additional-margin">J</span>
                                    <span class="sits__indecator">K</span>
                                    <span class="sits__indecator">L</span>
                                </aside>
                                @*A ile başlayan koltuklar*@
                                <div class="sits__row">
                                    @foreach (var item in Model)
                                    {
                                        if (item.KoltukID <= 10)
                                        { 
                                            
                                        if (item.DoluMu == false)
                                        {
                                            <span class="sits__place sits-price--cheap" id="@item.Koltuk.KoltukAd" data-place='@item.Koltuk.KoltukAd' data-price='10'>@item.Koltuk.KoltukAd</span>
                                        }
                                        else
                                        {
                                            <span class="sits__place sits-price--cheap sits-state--not" data-place='@item.Koltuk.KoltukAd' data-price='10'>@item.Koltuk.KoltukAd</span>

                                        }
                                        }
                                    }
                                </div>


                                @*B ile başlayan koltuklar*@
                                <div class="sits__row">
                                    @foreach (var item in Model)
                                    {
                                        if (item.KoltukID >= 12 && item.KoltukID<=21)
                                        {

                                            if (item.DoluMu == false)
                                            {
                                                <span class="sits__place sits-price--cheap" id="@item.Koltuk.KoltukAd" data-place='@item.Koltuk.KoltukAd' data-price='10'>@item.Koltuk.KoltukAd</span>
                                            }
                                            else
                                            {
                                                <span class="sits__place sits-price--cheap sits-state--not" data-place='@item.Koltuk.KoltukAd' data-price='10'>@item.Koltuk.KoltukAd</span>

                                            }
                                        }
                                    }
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--cheap" data-place='C5' data-price='10'>C5</span>
                                    <span class="sits__place sits-price--cheap" data-place='C6' data-price='10'>C6</span>
                                    <span class="sits__place sits-price--cheap" data-place='C7' data-price='10'>C7</span>
                                    <span class="sits__place sits-price--cheap" data-place='C8' data-price='10'>C8</span>
                                    <span class="sits__place sits-price--cheap" data-place='C9' data-price='10'>C9</span>
                                    <span class="sits__place sits-price--cheap" data-place='C10' data-price='10'>C10</span>
                                    <span class="sits__place sits-price--cheap" data-place='C11' data-price='10'>C11</span>
                                    <span class="sits__place sits-price--cheap" data-place='C12' data-price='10'>C12</span>
                                    <span class="sits__place sits-price--cheap" data-place='C13' data-price='10'>C13</span>
                                    <span class="sits__place sits-price--cheap" data-place='C14' data-price='10'>C14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--cheap" data-place='D5' data-price='10'>D5</span>
                                    <span class="sits__place sits-price--cheap" data-place='D6' data-price='10'>D6</span>
                                    <span class="sits__place sits-price--cheap sits-state--not" data-place='D7' data-price='10'>D7</span>
                                    <span class="sits__place sits-price--cheap sits-state--not" data-place='D8' data-price='10'>D8</span>
                                    <span class="sits__place sits-price--cheap" data-place='D9' data-price='10'>D9</span>
                                    <span class="sits__place sits-price--cheap" data-place='D10' data-price='10'>D10</span>
                                    <span class="sits__place sits-price--cheap" data-place='D11' data-price='10'>D11</span>
                                    <span class="sits__place sits-price--cheap" data-place='D12' data-price='10'>D12</span>
                                    <span class="sits__place sits-price--cheap" data-place='D13' data-price='10'>D13</span>
                                    <span class="sits__place sits-price--cheap" data-place='D14' data-price='10'>D14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--middle" data-place='E5' data-price='20'>E5</span>
                                    <span class="sits__place sits-price--middle" data-place='E6' data-price='20'>E6</span>
                                    <span class="sits__place sits-price--middle" data-place='E7' data-price='20'>E7</span>
                                    <span class="sits__place sits-price--middle" data-place='E8' data-price='20'>E8</span>
                                    <span class="sits__place sits-price--middle" data-place='E9' data-price='20'>E9</span>
                                    <span class="sits__place sits-price--middle" data-place='E10' data-price='20'>E10</span>
                                    <span class="sits__place sits-price--middle" data-place='E11' data-price='20'>E11</span>
                                    <span class="sits__place sits-price--middle" data-place='E12' data-price='20'>E12</span>
                                    <span class="sits__place sits-price--middle" data-place='E13' data-price='20'>E13</span>
                                    <span class="sits__place sits-price--middle" data-place='E14' data-price='20'>E14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--middle" data-place='F5' data-price='20'>F5</span>
                                    <span class="sits__place sits-price--middle" data-place='F6' data-price='20'>F6</span>
                                    <span class="sits__place sits-price--middle" data-place='F7' data-price='20'>F7</span>
                                    <span class="sits__place sits-price--middle" data-place='F8' data-price='20'>F8</span>
                                    <span class="sits__place sits-price--middle" data-place='F9' data-price='20'>F9</span>
                                    <span class="sits__place sits-price--middle" data-place='F10' data-price='20'>F10</span>
                                    <span class="sits__place sits-price--middle" data-place='F11' data-price='20'>F11</span>
                                    <span class="sits__place sits-price--middle" data-place='F12' data-price='20'>F12</span>
                                    <span class="sits__place sits-price--middle" data-place='F13' data-price='20'>F13</span>
                                    <span class="sits__place sits-price--middle" data-place='F14' data-price='20'>F14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--middle" data-place='G5' data-price='20'>G5</span>
                                    <span class="sits__place sits-price--middle" data-place='G6' data-price='20'>G6</span>
                                    <span class="sits__place sits-price--middle" data-place='G7' data-price='20'>G7</span>
                                    <span class="sits__place sits-price--middle" data-place='G8' data-price='20'>G8</span>
                                    <span class="sits__place sits-price--middle" data-place='G9' data-price='20'>G9</span>
                                    <span class="sits__place sits-price--middle" data-place='G10' data-price='20'>G10</span>
                                    <span class="sits__place sits-price--middle" data-place='G11' data-price='20'>G11</span>
                                    <span class="sits__place sits-price--middle" data-place='G12' data-price='20'>G12</span>
                                    <span class="sits__place sits-price--middle" data-place='G13' data-price='20'>G13</span>
                                    <span class="sits__place sits-price--middle" data-place='G14' data-price='20'>G14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--middle" data-place='I5' data-price='20'>I5</span>
                                    <span class="sits__place sits-price--middle" data-place='I6' data-price='20'>I6</span>
                                    <span class="sits__place sits-price--middle" data-place='I7' data-price='20'>I7</span>
                                    <span class="sits__place sits-price--middle" data-place='I8' data-price='20'>I8</span>
                                    <span class="sits__place sits-price--middle" data-place='I9' data-price='20'>I9</span>
                                    <span class="sits__place sits-price--middle" data-place='I10' data-price='20'>I10</span>
                                    <span class="sits__place sits-price--middle" data-place='I11' data-price='20'>I11</span>
                                    <span class="sits__place sits-price--middle" data-place='I12' data-price='20'>I12</span>
                                    <span class="sits__place sits-price--middle" data-place='I13' data-price='20'>I13</span>
                                    <span class="sits__place sits-price--middle" data-place='I14' data-price='20'>I14</span>
                                </div>

                                <div class="sits__row additional-margin">
                                    <span class="sits__place sits-price--expensive" data-place='J5' data-price='30'>J5</span>
                                    <span class="sits__place sits-price--expensive" data-place='J6' data-price='30'>J6</span>
                                    <span class="sits__place sits-price--expensive" data-place='J7' data-price='30'>J7</span>
                                    <span class="sits__place sits-price--expensive" data-place='J8' data-price='30'>J8</span>
                                    <span class="sits__place sits-price--expensive" data-place='J9' data-price='30'>J9</span>
                                    <span class="sits__place sits-price--expensive" data-place='J10' data-price='30'>J10</span>
                                    <span class="sits__place sits-price--expensive" data-place='J11' data-price='30'>J11</span>
                                    <span class="sits__place sits-price--expensive" data-place='J12' data-price='30'>J12</span>
                                    <span class="sits__place sits-price--expensive" data-place='J13' data-price='30'>J13</span>
                                    <span class="sits__place sits-price--expensive" data-place='J14' data-price='30'>J14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--expensive" data-place='K5' data-price='30'>K5</span>
                                    <span class="sits__place sits-price--expensive" data-place='K6' data-price='30'>K6</span>
                                    <span class="sits__place sits-price--expensive" data-place='K7' data-price='30'>K7</span>
                                    <span class="sits__place sits-price--expensive" data-place='K8' data-price='30'>K8</span>
                                    <span class="sits__place sits-price--expensive" data-place='K9' data-price='30'>K9</span>
                                    <span class="sits__place sits-price--expensive" data-place='K10' data-price='30'>K10</span>
                                    <span class="sits__place sits-price--expensive" data-place='K11' data-price='30'>K11</span>
                                    <span class="sits__place sits-price--expensive" data-place='K12' data-price='30'>K12</span>
                                    <span class="sits__place sits-price--expensive" data-place='K13' data-price='30'>K13</span>
                                    <span class="sits__place sits-price--expensive" data-place='K14' data-price='30'>K14</span>
                                </div>

                                <div class="sits__row">
                                    <span class="sits__place sits-price--expensive" data-place='L5' data-price='30'>L5</span>
                                    <span class="sits__place sits-price--expensive" data-place='L6' data-price='30'>L6</span>
                                    <span class="sits__place sits-price--expensive" data-place='L7' data-price='30'>L7</span>
                                    <span class="sits__place sits-price--expensive" data-place='L8' data-price='30'>L8</span>
                                    <span class="sits__place sits-price--expensive" data-place='L9' data-price='30'>L9</span>
                                    <span class="sits__place sits-price--expensive" data-place='L10' data-price='30'>L10</span>
                                    <span class="sits__place sits-price--expensive" data-place='L11' data-price='30'>L11</span>
                                    <span class="sits__place sits-price--expensive" data-place='L12' data-price='30'>L12</span>
                                    <span class="sits__place sits-price--expensive" data-place='L13' data-price='30'>L13</span>
                                    <span class="sits__place sits-price--expensive" data-place='L14' data-price='30'>L14</span>
                                </div>




                                <aside class="sits__checked">
                                    <div class="checked-place">

                                    </div>
                                    <div class="checked-result">
                                        $0
                                    </div>
                                </aside>
                                <footer class="sits__number">
                                    <span class="sits__indecator">5</span>
                                    <span class="sits__indecator">6</span>
                                    <span class="sits__indecator">7</span>
                                    <span class="sits__indecator">8</span>
                                    <span class="sits__indecator">9</span>
                                    <span class="sits__indecator">10</span>
                                    <span class="sits__indecator">11</span>
                                    <span class="sits__indecator">12</span>
                                    <span class="sits__indecator">13</span>
                                    <span class="sits__indecator">14</span>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 visible-xs">
                        <div class="sits-area--mobile">
                            <div class="sits-area--mobile-wrap">
                                <div class="sits-select">
                                    <select name="sorting_item" class="sits__sort sit-row" tabindex="0">
                                        <option value="1" selected='selected'>A</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                        <option value="4">D</option>
                                        <option value="5">E</option>
                                        <option value="6">F</option>
                                        <option value="7">G</option>
                                        <option value="8">I</option>
                                        <option value="9">J</option>
                                        <option value="10">K</option>
                                        <option value="11">L</option>
                                    </select>

                                    <select name="sorting_item" class="sits__sort sit-number" tabindex="1">
                                        <option value="1" selected='selected'>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                    </select>

                                    <a href="#" class="btn btn-md btn--warning toogle-sits">@SinemaRezervasyon.Resources.lang.BirKoltukSec</a>
                                </div>
                            </div>


                            <aside class="sits__checked">
                                <div class="checked-place">
                                    <span class="choosen-place"></span>
                                </div>
                                <div class="checked-result">
                                    $0
                                </div>
                            </aside>

                            <img alt="" src="~/Content/images/components/sits_mobile.png">
                        </div>
                    </div>

                </div>


        </div>
        </section>
    </div>



    <div class="clearfix"></div>
    <form id='film-and-time' class="booking-form" method='get' action='book3-buy.html'>

        <input type='text' name='choosen-number' class="choosen-number">
        <input type='text' name='choosen-number--cheap' class="choosen-number--cheap">
        <input type='text' name='choosen-number--middle' class="choosen-number--middle">
        <input type='text' name='choosen-number--expansive' class="choosen-number--expansive">
        <input type='text' name='choosen-cost' class="choosen-cost">
        <input type='text' name='choosen-sits' class="choosen-sits">


        <div class="booking-pagination booking-pagination--margin">
            <input type="button" class="booking-pagination__next" id="btnSatinAl" value="Satın Al"/>
        </div>
    </form>

    <div class="clearfix"></div>

    



    <script type="text/javascript">
            $(document).ready(function() {
                init_BookingTwo();
            });
    </script>


