﻿
@{
    ViewBag.Title = "BiletFinal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Mono font -->
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<!-- Roboto -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

<div class="wrapper place-wrapper">
    <header>&nbsp;</header>           @* @Html.DropDownListFor(m => m.TurID, ViewBag.Tur as SelectList, "Seçiniz", new { @class = "form-control", style = "width:250px;" }) hoca bu şekil göstermiş biz bunu değiştirip deneyelim*@
    <header>&nbsp;</header>
    <header>&nbsp;</header>
    <!-- Search bar -->
    <div class="search-wrapper">
        <div class="container container--add">
            <form id='search-form' method='get' class="search">
                <input type="text" class="search__field" placeholder="Search">
                <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                    <option value="1" selected='selected'>By title</option>
                    <option value="2">By year</option>
                    <option value="3">By producer</option>
                    <option value="4">By title</option>
                    <option value="5">By year</option>
                </select>
                <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
            </form>
        </div>
    </div>
    
    <!-- Main content -->

    <section class="container">
        <div class="order-container">
            <div class="order">
                <img class="order__images" alt='' src="~/Content/images/tickets.png">
                <p class="order__title">@SinemaRezervasyon.Resources.lang.Tesekkur<br><span class="order__descript">@SinemaRezervasyon.Resources.lang.BasariylaSatis</span></p>
            </div>

            <div class="ticket">
                <div class="ticket-position">
                    <div class="ticket__indecator indecator--pre"><div class="indecator-text pre--text">@SinemaRezervasyon.Resources.lang.onlineBilet</div> </div>
                    <div class="ticket__inner">

                        <div class="ticket-secondary">
                            <span class="ticket__item"><span class="ticket__cinema">ST CINEMAS</span></span>
                            <span class="ticket__item">@SinemaRezervasyon.Resources.lang.BiletNo <strong class="ticket__number">a126bym4</strong></span>
                            <span class="ticket__item ticket__date">@String.Format("{0:dd/MMMM/yyyy}", DateTime.Now)</span>
                            <span class="ticket__item ticket__time">17:45</span>

                            <span class="ticket__item">@SinemaRezervasyon.Resources.lang.Salon: <span class="ticket__hall">1</span></span>
                            <span class="ticket__item ticket__price">@SinemaRezervasyon.Resources.lang.Fiyat: <strong class="ticket__cost">@ViewBag.biletfiyati</strong></span>
                        </div>
                        <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">Film<br><strong class="ticket__movie">@ViewBag.filmadi </strong></span>
                            <span class="ticket__item ticket__item--primery">@SinemaRezervasyon.Resources.lang.Koltuklar: @foreach(var item in ViewBag.Liste)
                                                                                                                          {
                                                                                                                              string biletler = item + " ";
                                                                                                                              @biletler
                                                                                                                            }<span class="ticket__place"></span></span>
                        </div>


                    </div>
                    <div class="ticket__indecator indecator--post"><div class="indecator-text post--text">online ticket</div></div>
                </div>
            </div>

            <div class="ticket-control">
                <a href="#" class="watchlist list--download">@SinemaRezervasyon.Resources.lang.indir</a>
                <a href="#" class="watchlist list--print">@SinemaRezervasyon.Resources.lang.Yazdir</a>
            </div>

        </div>
    </section>

    <div class="clearfix"></div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.top-scroll').parent().find('.top-scroll').remove();
    });
</script>
s


