﻿@{
    ViewBag.Title = "İletişim";

}
<!doctype html>
<html>

<body>
    <header>&nbsp;</header>
    <div class="wrapper">
        <!-- Main content -->
        <section class="container">
            <h2 class="page-heading heading--outcontainer">@SinemaRezervasyon.Resources.lang.Iletisim</h2>
            <div class="contact">
                <p class="contact__title"><br><span class="contact__describe">@SinemaRezervasyon.Resources.lang.CekinmedenYaz</span></p>
                <span class="contact__mail">destek@seckinsinemalari.com</span>
                <span class="contact__tel">0 (264) 123 45 67</span>
            </div>
        </section>
        <!-- Main website navigation-->
        <nav id="navigation-box">
            <!-- Toggle for mobile menu mode -->
            <a href="#" id="navigation-toggle">
                <span class="menu-icon">
                    <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                        <span class="lines"></span>
                    </span>
                </span>
            </a>
            <div class="contact-form-wrapper">
                <div class="container">
                    
                        @*<form id='contact-form' class="form row" method='POST' role="form"  action="/Home/MesajGonder">
                           
                            <div class="col-sm-6">
                                <input type='text' placeholder='@SinemaRezervasyon.Resources.lang.isminiz'  class="form__name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder='E-mail'  class="form__mail">
                            </div>
                            <div class="col-sm-12">
                                <textarea placeholder="@SinemaRezervasyon.Resources.lang.Mesaj" class="form__message"></textarea>
                            </div>
                            <button type="submit" >@SinemaRezervasyon.Resources.lang.MesajYolla</button>
                        </form>*@
                    

                    <form id='contact-form222' class="form row" method='POST' role="form" action="/Home/MesajGonder">
                        <p class="form__title">@SinemaRezervasyon.Resources.lang.BizeUlasin</p>
                        <div class="col-sm-6">
                            <input type='text' placeholder='@SinemaRezervasyon.Resources.lang.isminiz' name="adi" id="adi" class="form__name">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder='E-mail' name="email" id="email" class="form__mail">
                        </div>
                        <div class="col-sm-12">
                            <textarea name="msg" placeholder="@SinemaRezervasyon.Resources.lang.Mesaj" id="msg" class="form__message"></textarea>
                        </div>
                        <button type="submit" class='btn btn-md btn--danger'>Mesaj Gönder</button>
                    </form>

                </div>
            </div>
            olma
            <section class="container">
                <div class="contact">
                    
                    <p class="contact__title">@SinemaRezervasyon.Resources.lang.YerimiziBulmaya<br> <span class="contact__describe">@SinemaRezervasyon.Resources.lang.IsteBurada</span></p>

                    <div class="col-md-12">
                        <div class="contact-map">
                            <div class="google-map-canvas" id="map-canvas" @*style="height: 590px;*@ "></div>
                        </div>
                    </div>

                </div>
            </section>

            <div id='location-map' class="map"></div>

            <div class="clearfix"></div>
    </div>
    <!--*** Google map  ***-->
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <!--*** Google map infobox  ***-->
    <script src="~/Content/js/external/infobox.js"></script>

    <!-- Custom -->

    <script src="~/Content/js/custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            init_Contact();
        });
    </script>

    <script src="~/Content/js/form.js"></script>

</body>
</html>