﻿@model SinemaRezervasyon.Models.Film
@{
    ViewBag.Title = "Film Bilgisi";
}
<script src="~/Content/jquery-1.11.3.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //init_BookingTwo();

        $('#Fragman').click(function () {

            document.getElementById('youtube').style.display = "block";
        });


    });


</script>




<div class="wrapper">
    <header>&nbsp;</header>
    <header>&nbsp;</header>
    <header>&nbsp;</header>
    <!-- Search bar -->
    <div class="search-wrapper">
        <div class="container container--add">
            <form id='search-form' method='get' class="search">
                <input type="text" class="search__field" placeholder="Search">
                <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                    <option value="1" selected='selected'>By title</option>
                    <option value="2">By year</option>
                    <option value="3">By producer</option>
                    <option value="4">By title</option>
                    <option value="5">By year</option>
                </select>
                <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
            </form>
        </div>
    </div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="movie">
                <h2 class="page-heading">@Model.FilmAdi</h2>

                <div class="movie__info">
                    <div class="col-sm-4 col-md-3 movie-mobile">
                        <div class="movie__images">
                            <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(Model.Fotografi)">
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-9">
                        <p class="movie__time">@Model.Sure @SinemaRezervasyon.Resources.lang.dakika</p>

                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Ulke: </strong>@Model.Ulke</p>
                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Yil: </strong>@String.Format("{0:yyyy}", @Model.VizyonTarihi)</p>
                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Kategori: </strong>@Model.Tur.TurAd</p>
                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.CikisTarihi: </strong>@String.Format("{0:dd MMMM yyyy}", Model.VizyonTarihi)</p>
                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Yonetmen: </strong>@Model.Yonetmen</p>
                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Oyuncular: </strong>@Model.OyuncuAd</p>
                        <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.YasSiniri: </strong>@Model.YasSinir.YasSinirAd</p>

                        <div class="movie__btns movie__btns--full">
                            @if (HttpContext.Current.Session["eposta"] != null)
                            {
                                <a href="/Home/Bilet?SalonId=@Model.SalonId&FilmAdi=@ViewBag.filmadi" class="btn btn-md btn--warning">@SinemaRezervasyon.Resources.lang.BuFilmIcin <span class="hidden-sm">@SinemaRezervasyon.Resources.lang.BiletAl</span></a>
                            }
                            else
                            {
                                <a href="/Home/Login" class="btn btn-md btn--warning">@SinemaRezervasyon.Resources.lang.BuFilmIcin <span class="hidden-sm">@SinemaRezervasyon.Resources.lang.BiletAl</span></a>

                            }
                            <a href="#" class="watchlist" id="Fragman">@SinemaRezervasyon.Resources.lang.Fragman</a>

                        </div>

                        <div class="overlay overlay-hugeinc" id="youtube" style="display: none;">
                        </div>
                        <div class="share">
                            <span class="share__marker">@SinemaRezervasyon.Resources.lang.Paylas: </span>
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">@SinemaRezervasyon.Resources.lang.Konusu</h2>

                <p class="movie__describe">@Model.Konu </p>

            </div>
        </div>
        <h2 class="page-heading">@SinemaRezervasyon.Resources.lang.Yorum</h2>

        <div class="comment-wrapper">
            <form id="comment-form" class="comment-form" method='post'>
                <textarea class="comment-form__text" placeholder='@SinemaRezervasyon.Resources.lang.YorumEkle'></textarea>
                <label class="comment-form__info"></label>
                <button type='submit' class="btn btn-md btn--danger comment-form__btn">@SinemaRezervasyon.Resources.lang.YorumEkleBt</button>
            </form>

            <div class="comment-sets">
                
                <div class="comment">
                    
                </div>
                
                </div>
            </div>
    </section>

    <div class="clearfix"></div>
    <script>
        function showDiv() {
            document.getElementById('welcomeDiv').style.display = "block";
        }
    </script>
</div>