﻿@model SinemaRezervasyon.Controllers.AnaSayfaDTO
@{
    ViewBag.Title = "Ana Sayfa";
}
@using System.Linq;

<!doctype html>
<html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta name="description" content="A Template by Gozha.net">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Gozha.net">
    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
</head>

<body>
    <div class="wrapper">

        <!-- Slider -->
        <div class="bannercontainer">
            <div class="banner">
                <ul>
                    @foreach ( var item in Model.slider)
                    {<li data-transition="fade" data-slotamount="7" class="slide" data-slide='İleri.'>
                        <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)">
                        <div class="caption slide__name margin-slider"
                             data-x="right"
                             data-y="80"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-speed="700"
                             data-start="1400"
                             data-easing="easeOutBack"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "
                             data-splitout="lines"
                             data-endelementdelay="0.1"
                             data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                             data-endspeed="500"
                             data-end="8400"
                             data-endeasing="Back.easeIn">
                            ACELE ET
                        </div>

                        <div class="caption slide__time margin-slider sfr str"
                             data-x="right"
                             data-hoffset='-243'
                             data-y="186"
                             data-speed="300"
                             data-start="2100"
                             data-easing="easeOutBack"
                             data-endspeed="300"
                             data-end="8700"
                             data-endeasing="Back.easeIn">
                         
                        </div>
                        <div class="caption slide__date margin-slider lfb ltb"
                             data-x="right"
                             data-hoffset='-149'
                             data-y="186"
                             data-speed="500"
                             data-start="2400"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-end="8200"
                             data-endeasing="Back.easeIn">
                        
                        </div>
                        <div class="caption slide__time margin-slider sfr str"
                             data-x="right"
                             data-hoffset='-113'
                             data-y="186"
                             data-speed="300"
                             data-start="2100"
                             data-easing="easeOutBack"
                             data-endspeed="300"
                             data-end="8700"
                             data-endeasing="Back.easeIn">
                            
                        </div>
                        <div class="caption slide__date margin-slider lfb ltb"
                             data-x="right"
                             data-y="186"
                             data-speed="500"
                             data-start="2800"
                             data-easing="Power4.easeOut"
                             data-endspeed="400"
                             data-end="8200"
                             data-endeasing="Back.easeIn">
                           
                        </div>
                        <div class="caption slide__text margin-slider customin customout"
                             data-x="right"
                             data-y="250"
                             data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="3000"
                             data-endspeed="400"
                             data-end="8000"
                             data-endeasing="Back.easeIn">
                           
                        </div>
                        <div class="caption margin-slider skewfromright customout "
                             data-x="right"
                             data-y="324"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="3300"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-end="7700"
                             data-endeasing="Power4.easeOut">
                            @*<a href="#" class="slide__link">check out cinemas &amp; time</a>*@
                        </div>
                    </li>}

                </ul>
            </div>
        </div>












        <!--end slider -->
        <!-- Main content -->
        <section class="container">
            <div class="movie-best">
                <div class="col-sm-10 col-sm-offset-1 movie-best__rating">   @SinemaRezervasyon.Resources.lang.VizyondakiEnIyiler   </div>
                <div class="col-sm-12 change--col">
                    @foreach (var item in Model.filmler)
                    {
                        <div class="movie-beta__item ">
                            <a href="/Home/Filmbilgisi?filmadi=@item.FilmAdi&FilmID=@item.FilmID" class="movie-beta__link">
                                <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)" />

                                <ul class="movie-beta__info">
                                    <li>
                                        <p class="movie__time">@Html.DisplayFor(modelItem => item.Sure) @SinemaRezervasyon.Resources.lang.dakika</p>
                                        <p>@Html.DisplayFor(modelItem => item.Tur.TurAd)</p>
                                    </li>
                                    <li class="last-block">
                                        <a href="/Home/Filmbilgisi?filmadi=@item.FilmAdi&FilmID=@item.FilmID" class="slide__link">@SinemaRezervasyon.Resources.lang.Devami</a>
                                    </li>
                                </ul>
                        </div>
                    }
                </div>
                <div class="col-sm-10 col-sm-offset-1 movie-best__check">@SinemaRezervasyon.Resources.lang.VizyondakiTumFilmler</div>
            </div>

            <div class="col-sm-12">
                <div class="mega-select-present mega-select-top mega-select--full">
                    <div class="mega-select-marker">
                        <div class="marker-indecator location">
                            <p class="select-marker"><span>@SinemaRezervasyon.Resources.lang.Filmler</span> <br>@SinemaRezervasyon.Resources.lang.Sehirindeki</p>
                        </div>

                        <div class="marker-indecator cinema">
                            <p class="select-marker"><span>@SinemaRezervasyon.Resources.lang.Istedigin</span> <br>@SinemaRezervasyon.Resources.lang.SinemaSalonu</p>
                        </div>

                        <div class="marker-indecator film-category">
                            <p class="select-marker"><span>@SinemaRezervasyon.Resources.lang.Filmler</span> <br>@SinemaRezervasyon.Resources.lang.IstediginKategorideki</p>
                        </div>
                    </div>

                    <div class="mega-select pull-right">
                        <span class="mega-select__point">@SinemaRezervasyon.Resources.lang.AramaTuru</span>
                        <ul class="mega-select__sort">
                            <li class="filter-wrap"><a href="#" class="mega-select__filter filter--active" data-filter='location'>@SinemaRezervasyon.Resources.lang.Sehir</a></li>
                            <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='film-category'>@SinemaRezervasyon.Resources.lang.Kategori</a></li>
                            <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='cinema'>@SinemaRezervasyon.Resources.lang.SinemaSalonu<a></li>

                        </ul>

                        <input name="search-input" type='text' class="select__field">

                        <div class="select__btn">
                            <a href="#" class="btn btn-md btn--danger location"><span class="hidden-exrtasm">@SinemaRezervasyon.Resources.lang.Sehir</span></a>
                            <a href="#" class="btn btn-md btn--danger cinema"><span class="hidden-exrtasm">@SinemaRezervasyon.Resources.lang.SinemaSalonu</span></a>
                            <a href="#" class="btn btn-md btn--danger film-category"><span class="hidden-exrtasm">@SinemaRezervasyon.Resources.lang.Kategori</span></a>
                        </div>

                        <div class="select__dropdowns">
                            <ul class="select__group location">
                                <li class="select__variant" data-value='İstanbul'>İstanbul</li>
                                <li class="select__variant" data-value='Ankara'>Ankara</li>
                                <li class="select__variant" data-value='Sakarya'>Sakarya</li>
                                <li class="select__variant" data-value='Bursa'>Bursa</li>
                                <li class="select__variant" data-value='İzmir'>İzmir</li>
                            </ul>

                            <ul class="select__group film-category">
                                <li class="select__variant" data-value="Children's">Komedi</li>
                                <li class="select__variant" data-value='Comedy'>Aksiyon</li>
                                <li class="select__variant" data-value='Drama'>Fantastik</li>
                                <li class="select__variant" data-value='Fantasy'>Korku</li>
                                <li class="select__variant" data-value='Horror'>Gerilim</li>
                                <li class="select__variant" data-value='Thriller'>Drama</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <h2 id='target' class="page-heading heading--outcontainer">@SinemaRezervasyon.Resources.lang.Vizyondakiler</h2>

            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-8 col-md-9">
                        <!-- Movie variant with time -->
                        @{
                            int i = 0;
                            foreach (var item in Model.filmler)
                            {
                                i++;
                                if (i == 1 || i == 2 || i == 5 || i == 6)
                                {
                                    <div class="movie movie--test movie--test--light movie--test--left">
                                        <div class="movie__images">
                                            <a href="/Home/Filmbilgisi?filmadi=@item.FilmAdi&FilmID=@item.FilmID" class="movie-beta__link">
                                                <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)">
                                            </a>
                                        </div>
                                        <div class="movie__info">
                                            <a href="/Home/Filmbilgisi?filmadi=@item.FilmAdi&FilmID=@item.FilmID" class="movie__title">@Html.DisplayFor(modelItem => item.FilmAdi)</a>

                                            <p class="movie__time">@Html.DisplayFor(modelItem => item.Sure) @SinemaRezervasyon.Resources.lang.dakika</p>
                                            @{
                                             string konu = item.Konu;
                                                 konu= konu.Substring(0, 5);
                                            }
                                            <p class="movie__option"><a href="#">@Html.DisplayFor(modelItem => item.Tur.TurAd)</a></p>
                                            <p class="movie__option"><a href="#"></a>@konu</p>

                                            <div class="movie__rate">
                                                <span class="movie__rating">5.0</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            <!-- Movie variant with time -->
                                if (i == 3 || i == 4 || i == 7 || i == 8)
                                {   <div class="movie movie--test movie--test--light movie--test--right">
                                    <div class="movie__images">
                                        <a href="/Home/Filmbilgisi?filmadi=@item.FilmAdi&FilmID=@item.FilmID" class="movie-beta__link">
                                            <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)">
                                        </a>
                                    </div>

                                    <div class="movie__info">
                                        <a href='/Home/Filmbilgisi?filmadi=@item.FilmAdi&FilmID=@item.FilmID' class="movie__title">@Html.DisplayFor(modelItem => item.FilmAdi)</a>

                                        <p class="movie__time">@Html.DisplayFor(modelItem => item.Sure) @SinemaRezervasyon.Resources.lang.dakika</p>

                                        <p class="movie__option"><a href="#">@Html.DisplayFor(modelItem => item.Tur.TurAd)</a> </p>
                                      
                                        <div class="movie__rate">
                                            <span class="movie__rating">4.9</span>
                                        </div>
                                    </div>
                                </div>
                                }
                                <!-- Movie variant with time -->
                            }
                        }
                    </div>

                    <aside class="col-sm-4 col-md-3">
                        <div class="sitebar first-banner--left">

                            @foreach(var item in Model.reklam)
                            {
                                <div class="banner-wrap first-banner--left">
                                    <img alt='banner'style="width:500px; height:250px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotograf)">
                                </div>
                            }

                        </div>
                    </aside>
                </div>
            </div>

            <div class="col-sm-12">
                <h2 class="page-heading">@SinemaRezervasyon.Resources.lang.SonHaberler</h2>

                @foreach (var item in Model.haberler)
                {
                    <div class="col-sm-4 similar-wrap col--remove">
                        <div class="post post--preview post--preview--wide">
                            <div class="post__image">
                                <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)">
                                <div class="social social--position social--hide">
                                    <span class="social__name">@SinemaRezervasyon.Resources.lang.Paylas:</span>
                                    <a href='#' class="social__variant social--first fa fa-facebook"></a>
                                    <a href='#' class="social__variant social--second fa fa-twitter"></a>
                                    <a href='#' class="social__variant social--third fa fa-vk"></a>
                                </div>
                            </div>
                            <p class="post__date">@Html.DisplayFor(modelItem => item.Tarih)</p>
                            <a href="single-page-left.html" class="post__title">@Html.DisplayFor(modelItem => item.Baslik)</a><header>&nbsp;</header>
                            <a href="/Home/News" class="btn read-more post--btn">@SinemaRezervasyon.Resources.lang.Devami</a>
                        </div>
                    </div>
                }
            </div>

        </section>

        <div class="clearfix"></div>


    </div>

    

</body>
</html>
