﻿    @{
    ViewBag.Title = "Giriş Yap";
}
@model SinemaRezervasyon.Models.RegisterViewModel
@*<form id="login-form" class="login" method='post'action="/Home/UyeGiris">
    <p class="login__title">@SinemaRezervasyon.Resources.lang.GirisYap<br><span class="login-edition">@SinemaRezervasyon.Resources.lang.GirisYap</span></p>

    <div class="social social--colored">
        <a href='#' class="social__variant fa fa-facebook"></a>
        <a href='#' class="social__variant fa fa-twitter"></a>
    </div>

    

    <div class="field-wrap">
        <input type='email' placeholder='@SinemaRezervasyon.Resources.lang.Eposta' name='email' id="email" class="login__input">
        <input type='password' placeholder='@SinemaRezervasyon.Resources.lang.Sifre' name='sifre' id="sifre" class="login__input">

        <input type='checkbox' id='#informed' class='login__check styled'>
        <label for='#informed' class='login__check-info'>@SinemaRezervasyon.Resources.lang.Sifre</label>
    </div>

    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">@SinemaRezervasyon.Resources.lang.GirisYap</button>
        <a href="#" class="login__tracker form__tracker">@SinemaRezervasyon.Resources.lang.Sifre</a>
    </div>
</form>*@

<form id="login-form2" class="abc" action="/Home/UyeGiris" method='post' role="form">
    <p class="login__title">Giriş Yap <br><span class="login-edition">welcome to A.Movie</span></p>

    <div class="social social--colored">
        <a href='#' class="social__variant fa fa-facebook"></a>
        <a href='#' class="social__variant fa fa-twitter"></a>
        <a href='#' class="social__variant fa fa-tumblr"></a>
    </div>

    <p class="login__tracker">or</p>

    <div class="field-wrap">
        <input type='email' placeholder='ePosta' name='ePosta' id="ePosta" class="login__input">
        <input type='password' placeholder='Password' name='Sifre' id="Sifre" class="login__input">

        <input type='checkbox' id='#informed' class='login__check styled'>
        <label for='#informed2' class='login__check-info'>remember me</label>
    </div>

    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
    </div>
</form>

@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="widget-item">
                    <div class="request-information">
                        <h4 class="widget-title">@SinemaRezervasyon.Resources.lang.UyeGiris</h4>
                        <div class="request-info clearfix">
                            @using (Html.BeginForm("UyeGiris", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="full-row">
                                    <label for="email-id">@SinemaRezervasyon.Resources.lang.Eposta:</label>
                                    @Html.TextBoxFor(m => m.ePosta)
                                </div>
                                <div class="full-row">
                                    <label for="email-id">@SinemaRezervasyon.Resources.lang.Sifre:</label>
                                    @Html.PasswordFor(m => m.Sifre)
                                </div>
                                <div class="full-row">
                                    <div class="submit_field">
                                        <strong style="color:red; float:left; width:50%;">@TempData["Mesaj"]</strong>
                                        <input class="mainBtn pull-right" type="submit" value="Giriş">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@