﻿@model IEnumerable<SinemaRezervasyon.Models.Haberler>
@{
    ViewBag.Title = "Haberler";
}
<!doctype html>
<html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta name="description" content="A Template by Gozha.net">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Gozha.net">
    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        <header>&nbsp;</header>
        <header>&nbsp;</header>
        <header>&nbsp;</header>
        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Ara">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>@SinemaRezervasyon.Resources.lang.Isim</option>
                        <option value="">@SinemaRezervasyon.Resources.lang.Yil</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">BİR FİLM ARA BAKALIM</button>
                </form>
            </div>
        </div>
        <!-- Main content -->
        <section class="container">
            <div class="overflow-wrapper">
                <div class="col-sm-12">
                    <h2 class="page-heading">@SinemaRezervasyon.Resources.lang.Haberler</h2>

                    <!-- News post article-->
                    @foreach (var item in Model)
                    {
                    <article class="post post--news">
                        <a>
                            <img style='width:1600px; height:600px;' alt="" src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)">
                        </a>
                        <h1><a href="single-page-full.html" class="post__title-link">@Html.DisplayFor(modelItem => item.Baslik)</a></h1>
                        <p class="post__date">@String.Format("{0:dd/MMMM/yyyy}", @Html.DisplayFor(modelItem => item.Tarih))</p>
                        <p class="post__text">@Html.DisplayFor(modelItem => item.Yazi)</p>
                        <div class="devider-huge"></div>
                    </article>
                    }
                    <!-- end news post article-->
                    <div class="pagination">
                        <a href='#' class="pagination__prev">@SinemaRezervasyon.Resources.lang.Onceki</a>
                        <a href='#' class="pagination__next">@SinemaRezervasyon.Resources.lang.Sonraki</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

    </div>
   
</body>
</html>