﻿
@{
    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success" style="margin:10px 0 -20px 0;">
    <h3>Üyeliğiniz başarıyla tamamlanmıştır...</h3>
    <p>Üyeliğiniz yazmış olduğunuz E-posta adresinize gönderilen aktivasyon linkine tıkladığınızda aktif olacaktır. Lütfen mail adresinizi doğru yazdığınıza emin olunuz. Junk yada Önemsiz Posta kontrolü yapmanızı tavsiye ederiz.</p>
</div>


