﻿@model SinemaRezervasyon.Models.RegisterViewModel
@{
    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="widget-item">
                    <div class="request-information">
                        <h4 class="widget-title">Üye Ol </h4>
                        <div class="request-info clearfix">

                            @using (Html.BeginForm("UyeEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="full-row">
                                    <label for="cat2">Ad:</label>
                                    <div class="input-select">
                                        @Html.TextBoxFor(m => m.Adi)
                                    </div>
                                </div>
                                <div class="full-row">
                                    <label for="yourname">Soyadı:</label>
                                    @Html.TextBoxFor(m => m.Soyadi)
                                </div>
                                <div class="full-row">
                                    <label for="yourname">Telefon:</label>
                                    @Html.TextBoxFor(m => m.Telefon)
                                </div>
                                <div class="full-row">
                                    <label for="email-id">Eposta:</label>
                                    @Html.TextBoxFor(m => m.ePosta)
                                </div>
                                <div class="full-row">
                                    <label for="email-id">Sifre:</label>
                                    @Html.PasswordFor(m => m.Sifre)
                                </div>
                                <div class="full-row">
                                    <div class="submit_field">
                                        <input class="mainBtn pull-right" type="submit" value="Üye Ol">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<form id="login-form2" class="abc" action="/Home/UyeEkle" method='post' role="form">
    <p class="login__title">@SinemaRezervasyon.Resources.lang.GirisYap<br><span class="login-edition"></span></p>

    <div class="social social--colored">
        <a href='#' class="social__variant fa fa-facebook"></a>
        <a href='#' class="social__variant fa fa-twitter"></a>
        <a href='#' class="social__variant fa fa-tumblr"></a>
    </div>

    <p class="login__tracker"></p>

    <div class="field-wrap">
        <input type='text' placeholder='@SinemaRezervasyon.Resources.lang.Adi' name='Adi' id="Adi" class="login__input">
        <input type='text' placeholder='@SinemaRezervasyon.Resources.lang.Soyadi' name='Soyadi' id="Soyadi" class="login__input">
        <input type="tel" placeholder='@SinemaRezervasyon.Resources.lang.Telefon' name='Telefon' id="Telefon" class="login__input">
        <input type='email' placeholder='@SinemaRezervasyon.Resources.lang.Eposta' name='ePosta' id="ePosta" class="login__input">
        <input type='password' placeholder='@SinemaRezervasyon.Resources.lang.Sifre' name='Sifre' id="Sifre" class="login__input">
        
        
        
        <input type='checkbox' id='#informed' class='login__check styled'>
        <label for='#informed2' class='login__check-info'>remember me</label>
    </div>

    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
    </div>
</form>


