﻿@model IEnumerable<SinemaRezervasyon.Models.Film>
@{
    ViewBag.Title = "Vizyondakiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>

<body>
    <div class="wrapper">

        <header>&nbsp;</header>
        <header>&nbsp;</header>
        <header>&nbsp;</header>

        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Ara">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>@SinemaRezervasyon.Resources.lang.Isim</option>
                        <option value="">@SinemaRezervasyon.Resources.lang.Yil</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">BİR FİLM ARA BAKALIM</button>
                </form>
            </div>
        </div>

        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">@SinemaRezervasyon.Resources.lang.Filmler</h2>


                @foreach (var item in Model)
                {
                                        <!-- Movie preview item -->
                    <div class="movie movie--preview movie--full release">
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="movie__images">

                                <a href="/Home/Filmbilgisi?filmadi=@item.FilmAdi"><img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotografi)"></a>
                            </div>
                            <div class="movie__feature">
                                <a href="#" class="movie__feature-item movie__feature--comment">123</a>
                                <a href="#" class="movie__feature-item movie__feature--video">7</a>
                                <a href="#" class="movie__feature-item movie__feature--photo">352</a>
                            </div>
                        </div>


                        <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                            <a class="movie__title link--huge" href="/Home/Filmbilgisi?filmadi=@item.FilmAdi">@Html.DisplayFor(modelItem => item.FilmAdi) </a>

                            <p class="movie__time">@Html.DisplayFor(modelItem => item.Sure) @SinemaRezervasyon.Resources.lang.dakika</p>

                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Ulke: </strong>@Html.DisplayFor(modelItem => item.Ulke)</p>
                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Kategori: </strong>@Html.DisplayFor(modelItem => item.Tur.TurAd)</p>
                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.CikisTarihi: </strong>@Html.DisplayFor(modelItem => item.VizyonTarihi)</p>
                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Yonetmen: </strong>@Html.DisplayFor(modelItem => item.Yonetmen)</p>
                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Oyuncular: </strong>@Html.DisplayFor(modelItem => item.OyuncuAd)</p>
                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.YasSiniri: </strong>@Html.DisplayFor(modelItem => item.YasSinir.YasSinirAd)</p>
                            <p class="movie__option"><strong>@SinemaRezervasyon.Resources.lang.Konusu: </strong>@Html.DisplayFor(modelItem => item.Konu)</p>

                            <div class="movie__btns">
                                                @if (HttpContext.Current.Session["eposta"] != null)
                                                {
                                                    <a href="/Home/Bilet?SalonId=@item.SalonId" class="btn btn-md btn--warning">@SinemaRezervasyon.Resources.lang.BuFilmIcin <span class="hidden-sm">@SinemaRezervasyon.Resources.lang.BiletAl</span></a>
                                                }
                                                else
                                                {
                                                    <a href="/Home/Login" class="btn btn-md btn--warning">@SinemaRezervasyon.Resources.lang.BuFilmIcin <span class="hidden-sm">@SinemaRezervasyon.Resources.lang.BiletAl</span></a>

                                                }                                
                                <a href="#" class="watchlist" id="Fragman">@SinemaRezervasyon.Resources.lang.Fragman</a>
                            </div>


                        </div>

                        <div class="clearfix"></div>

                        <!-- end movie preview item -->

                    </div>

                    <div class="clearfix"></div>
                }
        </section>
    </div>




    <div class="clearfix"></div>
</body>
</html>