﻿@{
    Layout = null;
}
@if (HttpContext.Current.Session["eposta"] != null)
{
    <div class="control-panel">
        <a href="/Home/Cikis" class="btn btn-md btn--warning btn--book btn-control--home">@SinemaRezervasyon.Resources.lang.CikisYap</a>
    </div>
}
else
{
    <div class="control-panel">
        <a href="/Home/Login" class="btn btn-md btn--warning btn--book btn-control--home">@SinemaRezervasyon.Resources.lang.GirisYap</a>
    </div>
}