﻿<!doctype html>
<html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Seçkin Sinemaları</title>
    <meta name="description" content="A Template by Gozha.net">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Gozha.net">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">

    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <!-- Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!-- Mobile menu -->
    <link href="~/Content/css/gozha-nav.css" rel="stylesheet" />
    <!-- Select -->
    <link href="~/Content/css/external/jquery.selectbox.css" rel="stylesheet" />

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link href="~/Content/rs-plugin/css/settings.css" rel="stylesheet" media="screen" />

    <!-- Custom -->
    <link href="~/Content/css/style.css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Content/js/external/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>
@RenderSection("Scripts", false)
@Styles.Render("~/Content/css")
@Scripts.Render("~/Content/js")
@Scripts.Render("~/Content/rs-plugin/css")
@Scripts.Render("~/Content/rs-plugin/js")


<body>
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top">
            <img alt='top banner' src="~/images/banner.jpg">

        </div>

        <!-- Header section -->
        <header class="header-wrapper header-wrapper--home">
            <div class="container">
                <!-- Logo link-->
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                                <span class="lines"></span>
                            </span>
                        </span>
                    </a>

                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href='~/Views/Home/Index.cshtml' class="logo pull-left"></a>   
                            <img alt='logo' src="~/images/stcine.png" style="width:75%;">
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            @Html.ActionLink(SinemaRezervasyon.Resources.lang.AnaSayfa, "Index", "Home")
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            @Html.ActionLink(@SinemaRezervasyon.Resources.lang.Vizyondakiler, "Vision", "Home")
                        </li>
                        
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            @Html.ActionLink(@SinemaRezervasyon.Resources.lang.Haberler, "News", "Home")
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            @Html.ActionLink(@SinemaRezervasyon.Resources.lang.Iletisim, "Contact", "Home")
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            @Html.Partial("_LoginPartial")
                         </li>
                        <li>
                            <span class="sub-nav-toggle plus col-sm-2"></span>
                            @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                            {
                                @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, new { @class = "turk" })
                                <style type="text/css">
                                    a.turk {
                                        background: url(../images/flags/en.png) no-repeat top left;
                                        display: block;
                                        text-indent: -9999px;
                                    }
                                </style>
                            }
                            else
                            {
                                @Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, new { @class = "ingiliz" })
                                <style type="text/css">
                                    a.ingiliz {
                                        background: url(../images/flags/tr.png) no-repeat top left;
                                        display: block;
                                        text-indent: -9999px;
                                    }
                                </style>
                            }
                        </li>
                        @Html.Partial("_ButonPartial")
</ul>

                </nav>
                <!-- Additional header buttons / Auth and direct link to booking-->
            </div>
        </header>

        @RenderBody()

        <div class="clearfix"></div>


        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li>@Html.ActionLink(@SinemaRezervasyon.Resources.lang.AnaSayfa, "Index", "Home")</li>
                        <li>@Html.ActionLink(@SinemaRezervasyon.Resources.lang.Haberler, "Haberler", "Home")</li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li>@Html.ActionLink(@SinemaRezervasyon.Resources.lang.Vizyondakiler, "Vision", "Home")</li>
                        <li>@Html.ActionLink(@SinemaRezervasyon.Resources.lang.Haberler, "Haberler", "Home")</li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li>@Html.ActionLink(@SinemaRezervasyon.Resources.lang.Iletisim, "Contact", "Home")</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small"><br><span class="title-edition">@SinemaRezervasyon.Resources.lang.SosyalMedya</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="copy">&copy; @DateTime.Now.@SinemaRezervasyon.Resources.lang.TumHaklariSaklidir</p>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    @RenderSection("scripts", required: false);
        <!-- JavaScript-->
        <!-- jQuery 1.9.1-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/external/jquery-1.10.1.min.js"><\/script>')</script>
        <!-- Migrate -->
        <script src="js/external/jquery-migrate-1.2.1.min.js"></script>
        <!-- Bootstrap 3-->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        <!-- jQuery REVOLUTION Slider -->
        <script src="~/Content/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script src="~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <!-- Mobile menu -->
        <script src="~/Content/js/jquery.mobile.menu.js"></script>
        <!-- Select -->
        <script src="~/Content/js/external/jquery.selectbox-0.2.min.js"></script>
        <!-- Stars rate -->
        <script src="~/Content/js/external/jquery.raty.js"></script>

        <!-- Form element -->
        <script src="~/Content/js/external/form-element.js"></script>
        <!-- Form validation -->
        <script src="~/Content/js/form.js"></script>

        <!-- Twitter feed -->
        <script src="~/Content/js/external/twitterfeed.js"></script>

        <!-- Custom -->
        <script src="~/Content/js/custom.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                init_Home();
            });
        </script>
        

</body>

</html>