﻿@if (HttpContext.Current.Session["eposta"] != null)
{
    <li>
        <a>
           <span class="auth__image">
              <img alt="" src="~/images/kullanici.png">
                <strong>@SinemaRezervasyon.Controllers.HomeController.KullaniciBilgiGetir(HttpContext.Current.Session["eposta"].ToString())</strong>
             </span>
            @*<ul class="auth__function">
                <li><a href="/Home/AlinanBiletler" class="auth__function-item">@SinemaRezervasyon.Resources.lang.AlinanBiletler</a></li>
                <li><a href="/Home/UyeAyarlar" class="auth__function-item">@SinemaRezervasyon.Resources.lang.Ayarlar</a></li>
            </ul>*@
        </a>
    </li>
}
else
{
    @Html.ActionLink(SinemaRezervasyon.Resources.lang.UyeOl, "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })

}